// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom checkbox (x-ui.checkbox)
.checkbox-wrapper {
    display: block;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        @apply bg-white rounded w-4 h-4 border border-red-600;
    }

    & input:checked ~ .checkmark {
        @apply bg-red-600;
    }

    & input:checked ~ .checkmark > i:after {
        display: block;
    }


    // variants
    &.reversed {
        position:relative;
        .checkmark {
            position: absolute;
            left: -2em;
        }
    }
}
